/*
 * NPWPbyWarkim v.1 (https://npwp.warkim.com)
 * Author: Warkim (Warkim Rapii)
 * Website: www.warkim.com
 * Contact: me@warkim.com
 * Facebook: warkim.rapii
 * Instagram: warkimwarkim
 *
 * Copyright 2020 npwpbywarkim
 * Shareware license
 */
 * {
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    /*background-image: url('../img/bg.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: top center;for image*/
    background-attachment: fixed;
    background: linear-gradient(41deg, #00d2ff 0%, #3a47d5 100%);
    background: -webkit-linear-gradient(41deg, #00d2ff 0%, #3a47d5 100%);
    background: -moz-linear-gradient(41deg, #00d2ff 0%, #3a47d5 100%);
}
img.logo {
    height: 50px !important;
}
.nav-container {
    padding: 15px 0px!important;
}
.sembunyikan {
    display: none !important;
    visibility: hidden;
}
.container-content {
    background: #ffffff;
    border: 1px solid #dad8d8;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.judul {
    font-weight: bold;
}
.clearfix {
    clear: both;
}

.pesan {
    color: #999595;
}
.form-input-npwp {
    color: gray;
}
@keyframes notif {
    0% { top: 300px; opacity: 0;}
    100% { top: 0px; opacity: 0.8;}
}

.notifikasi {
    animation-name: notif;
    top: 0px;
    box-shadow: 0px 2px 6px #292828;
    position: relative;
    animation-duration: 4s;
    z-index: 9;
}